{% extends '::frontend.html.twig' %}

  {% block title %}Pachanga, la web para formar pachangas de cualquier deporte en tu ciudad{% endblock %}

  {% block id 'portada' %}

    {% block flashes %}

      {% if is_granted('ROLE_USUARIO') %} {# el usuario está logueado #}

        {% include ':includes:flashes.html.twig' %}

      {% endif %}

    {% endblock %}

    {% block anuncio %}
      {% if not is_granted('ROLE_USUARIO') %}
        <div id="anuncio">
            {% trans with { '%portada%': path('portada'), '%registro%': path('usuario_registro') } %}
            <a href="%portada%">PACHANGA</a> publica cada día una anuncio increíble en tu ciudad con descuentos de hasta el 90%% <a class="boton" href="%registro%">Regístrate ya</a>
            {% endtrans %}
        </div>
      {% endif %}
    {% endblock %}

    {% block article %}
      {% for anuncio in anuncios %}
        {% include 'AnuncioBundle:Default:includes/anuncio.html.twig' %}
      {% else %}
        <p>Esta ciudad todavía no ha publicado ningun anuncio</p>
      {% endfor %}
    {% endblock %}

    {% block aside %}
      {{ parent() }}

      <section id="nosotros">
        <h2>{{ "Sobre nosotros" | trans }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </section>
    {% endblock %}
